<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
      <link rel="stylesheet" type="text/css" href="css/indexx.css">
</head>
<body>
    {{>navbar}}
   <style>
   
   body{

   
      background-image: url("Images/imag.jpeg");
 font-style: italic;
  
}
   h1{text-align: center;}
 
   </style>

  
  <br>


<div class="hero">
    <h1>Welcome to my Page!</h1>
    <p>&nbsp;&nbsp;This page is about Employee Registration and Employee Login:</p>
    <p>&nbsp;&nbsp;1.Go to Registration</a> page if you don't have an Account?</p>
    <p>&nbsp;&nbsp;2.Go to Login Page if you Already have an Account.</p></div>
</body>
</html>